
<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form class=Battle action="/names" method="post">
    <label>Player 1:</label>
    <input type="text" name="player_1_name">
    <div>
    <label>Player 2:</label>
    <input type="text" name="player_2_name">
    </div>
    <input type="submit" value="Submit">
</form>
